@model DigitalData.Open.Common.Entities.DdocConfiguration

@using (Html.BeginForm("SaveConfiguration", "Admin", FormMethod.Post, new { id = "frmConfiguration" }))
{
    <fieldset>
        <legend></legend>
        <div>
            @Html.LabelFor(m => m.PasswordMinLength)
            @Html.TextBoxFor(m => m.PasswordMinLength)
        </div>
        <div>
            @Html.LabelFor(m => m.PasswordMaxLength)
            @Html.TextBoxFor(m => m.PasswordMaxLength)
        </div>
        <div>
            @Html.LabelFor(m => m.FailedTries)
            @Html.TextBoxFor(m => m.FailedTries)
        </div>
    </fieldset>
    <fieldset>
        <legend>
            @Html.CheckBoxFor(m => m.EnablePasswordExpiration) @Html.LabelFor(m => m.EnablePasswordExpiration)
        </legend>
        <div>
            @Html.LabelFor(m => m.InactivityDays)
            @Html.TextBoxFor(m => m.InactivityDays)
        </div>
        <div>
            @Html.LabelFor(m => m.ExpirationDays)
            @Html.TextBoxFor(m => m.ExpirationDays)
        </div>
        <div>
            @Html.LabelFor(m => m.DaysForWarning)
            @Html.TextBoxFor(m => m.DaysForWarning)
        </div>
    </fieldset>
    
    <div class="dialog-button-panel">
        <button class="dialog-button right-set" id="cancel"><span class="button-icon cancel-icon"></span>Cancelar</button>
        <button class="dialog-button right-set" id="saveConfiguration"><span class="button-icon save-icon"></span>Guardar</button>
    </div>
}