@using DigitalData.Open.Common.Entities
@model DigitalData.Open.Common.Entities.Security.User

@{
    var config = (DdocConfiguration)ViewBag.PasswordConfig;
}

@using (Html.BeginForm("UpdateUserPassword", "Admin", FormMethod.Post, new { id = "frmPasswordChange" }))
{
    @Html.Hidden("MinPassLength", config.PasswordMinLength)
    <fieldset>
        <legend></legend>
        @if (!((bool?)ViewBag.BypassCurrentPassword).HasValue)
        {
            <div>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </div>
        }
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            <span class="password-icon image-button ok-icon"></span>
        </div>
        <div>
            @Html.LabelFor(m => m.PasswordConfirmation)
            @Html.PasswordFor(m => m.PasswordConfirmation)
            <span class="password-confirmation-icon image-button ok-icon"></span>
        </div>
    </fieldset>

    <div class="dialog-button-panel">
        <button class="dialog-button right-set" id="cancel"><span class="button-icon cancel-icon"></span>Cancelar</button>
        <button class="dialog-button right-set" id="savePassword"><span class="button-icon save-icon"></span>Guardar</button>
    </div>
}