@using DigitalData.DDoc.Common.Entities
@model DigitalData.DDoc.Common.Entities.Security.User

@{
    var action = Model.IsNew ? "CreateUser" : "UpdateUser";
    var config = Model.IsNew ? (DdocConfiguration)ViewBag.PasswordConfig : new DdocConfiguration();
}

@if (!Model.IsNew)
{
    <menu class="menu-bar">
        <li id="editProfile">Editar perfil</li>
        <li id="changePassword">Cambiar contraseña</li>
    </menu>
}

@using (Html.BeginForm(action, "Admin", FormMethod.Post, new { id = "frmUserEdit" }))
{
    if (Model.IsNew)
    {
        @Html.Hidden("MinPassLength", config.PasswordMinLength)
    }
    @Html.HiddenFor(m => m.IsNew)
    <fieldset>
        <legend>Datos del usuario</legend>
        <div>
            @Html.LabelFor(m => m.Username)
            @if (Model.IsNew)
            {
                @Html.TextBoxFor(m => m.Username)
            }
            else
            {
                @Html.HiddenFor(m => m.Username)
                @Html.DisplayFor(m => m.Username)
            }
        </div>
        <div>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </div>
        @if (Model.IsNew)
        {
            <div>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                <span class="password-icon image-button ok-icon"></span>
            </div>
            <div>
                @Html.LabelFor(m => m.PasswordConfirmation)
                @Html.PasswordFor(m => m.PasswordConfirmation)
                <span class="password-confirmation-icon image-button ok-icon"></span>
            </div>
        }
    </fieldset>

    <div class="dialog-button-panel">
        <button class="dialog-button right-set" id="cancel"><span class="button-icon cancel-icon"></span>Cancelar</button>
        @if (Model.IsNew)
        {
            <button class="dialog-button right-set" id="nextScreen"><span class="button-icon next-icon"></span>Siguiente</button>
        }
        else
        {
            <button class="dialog-button right-set" id="saveUser"><span class="button-icon save-icon"></span>Guardar</button>
        }
    </div>
}