@using DigitalData.Open.Common.Entities
@using DigitalData.Open.Common.Extensions
@model DigitalData.Open.Common.Entities.DdocEntity

@{
    Layout = "~/Views/Shared/DdocModule.cshtml";
    var permissions = (Permissions)ViewBag.CollectionPermissions;
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Controls/DDocGrid.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Controls/DDocDatePicker.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Controls/DDocCalendar.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Common/ListLayout.css")" title="listLayout" />
    <link rel="alternate stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Common/TilesLayout.css")" title="tileLayout" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Navigation/NavigationResults.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Folder/FolderEditor.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Document/NewDocumentEditor.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Document/DocumentEditor.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Document/DocumentPagesEditor.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Document/ScannerUpload.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Document/FileUpload.css")" />
}

@Html.Hidden("CollectionId", ViewData["CollectionId"])
@Html.Hidden("CollectionType", ViewData["CollectionType"])
@Html.Hidden("ViewerAnchorTarget", ViewData["ViewerAnchorTarget"])

<menu class="menu-bar">
    <div class="menu-title">
        <span class="menu-title-content">@ViewBag.CollectionName</span>
    </div>
    <li id="advancedSearch">
        <a href="@Url.Action("AdvancedSearch", "Search")">Búsqueda Avanzada</a>
    </li>
    @if (permissions.HasFlag(Permissions.Write))
    {
        <li id="addNewElement">Agregar nuevo @ViewBag.ItemType</li>
    }
    @if (ViewBag.CustomSubMenuItems != null)
    {
        foreach (var customNavigation in (IEnumerable<DdocCustomAction>)ViewBag.CustomSubMenuItems)
        {
            if (customNavigation.CollectionId == ViewBag.CollectionId)
            {
                <li>
                    <a href="@Url.Action(customNavigation.Action, customNavigation.Controller)" target="@customNavigation.Target">@customNavigation.Label</a>
                </li>
            }
        }
    }
    <button id="tileLayout" class="style-changer"><span class="button-icon tiles-icon"></span>Mosaico</button>
    <button id="listLayout" class="style-changer"><span class="button-icon list-icon"></span>Lista</button>
</menu>

<div id="grdResults"></div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/tinysort.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery.scrollbox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/html.sortable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery.ba-jqmq.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Controls/DDocControls.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Controls/DDocGrid.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Controls/DDocDatePicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Controls/DDocCalendar.js")"></script>
    @if (ViewBag.CustomGridActions != null)
    {
        <script type="text/javascript">
            var customActions = @Html.Raw(Json.Encode((ViewBag.CustomGridActions as IEnumerable<DdocCustomAction>).Where(a => a.CollectionId == ViewBag.ColectionId)))
        </script>

    }
    @if (ViewBag.IncludeCustomListActions)
    {
        <script type="text/javascript" src="@Url.Content("~/Plugins/Scripts/CustomListActions.js")"></script>
    }
    @if (ViewBag.IncludeCustomGridEvents)
    {
        <script type="text/javascript" src="@Url.Content("~/Plugins/Scripts/CustomGridEvents.js")"></script>
    }
    <script type="text/javascript" src="@Url.Content("~/Scripts/Navigation/NavigationResults.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Folder/FolderEditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Document/DocumentEditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Document/NewDocumentEditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Document/DocumentPagesEditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Document/ScannerUpload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Document/FileUpload.js")"></script>

}