<!DOCTYPE html>
<meta charset="UTF-8"/>
<meta content="IE=Edge" http-equiv="X-UA-Compatible"/>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/jqueryui.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/ui.fancytree.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Common/Reset.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Common/Layout.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Common/Skin.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Common/ModalLayout.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Common/ModalSkin.css")" />
    <meta content="width=device-width" name="viewport" />
    @if (ViewBag.IncludeCustomStyles)
    {
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Plugins/Styles/Custom.css")" />
    }
</head>
<body>
    <div class="outer-container">
        @{ Html.RenderAction("MainMenu", "Navigation"); }
        <div class="main-container">
            <iframe class="work-space" name="workspace" src="@Url.Action("Welcome")"></iframe>
        </div>
        <aside class="tree-view">
            <div id="tree"></div>
        </aside>
    </div>
    @Html.Hidden("UrlBase", Request.ApplicationPath)
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery.fancytree-all-deps.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery.fancytree.filter.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Common/DDocMain.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Admin/PasswordEditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Common/DDocNavigation.js")"></script>
</body>
</html>