<!DOCTYPE html>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

<html>
<head>
    <title>@ViewBag.ProductName</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/jqueryui.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Common/Reset.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Common/Layout.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Common/Skin.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Common/ModalLayout.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Common/ModalSkin.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Security/Security.css")" />
    @if (ViewBag.IncludeCustomStyles)
    {
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Plugins/Styles/Custom.css")" />
    }
    <base target="_top">
</head>
<body>
    @RenderBody()
    @Html.Hidden("UrlBase", Request.ApplicationPath)
    @Html.Hidden("ProductName", (string)ViewBag.ProductName)
    @Html.Hidden("CompanyName", (string)ViewBag.CompanyName)
    @if (ViewBag.Username != null)
    {
        @Html.Hidden("Username", (string)ViewBag.Username)
    }
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Common/DDocMain.js")"></script>
    @RenderSection("Scripts")
</body>
</html>